@charset "UTF-8";
:root {
  --yellow-h: 36;
  --yellow-s: 100%;
  --yellow-l: 51%;
  --blue-h: 195;
  --blue-s: 100%;
  --blue-l: 49%;
  --pink-h: 324;
  --pink-s: 84%;
  --pink-l: 65%;
  --purple-h: 267;
  --purple-s: 72%;
  --purple-l: 63%;
  --jet-h: 0;
  --jet-s: 0%;
  --jet-l: 19%;
  --yellow-color: hsl(var(--yellow-h), var(--yellow-s), var(--yellow-l));
  --blue-color: hsl(var(--blue-h), var(--blue-s), var(--blue-l));
  --pink-color: hsl(var(--pink-h), var(--pink-s), var(--pink-l));
  --purple-color: hsl(var(--purple-h), var(--purple-s), var(--purple-l));
  --jet-color: hsl(var(--jet-h), var(--jet-s), var(--jet-l));
  --text-color: hsl(0, 0%, 100%);
  --link-color: hsl(0, 0%, 100%);
  --link-hover: hsl(0, 0%, 100%);
  --border-color: hsl(0, 0%, 100%);
  --pin-color: hsl(0, 0%, 100%);
  --yellow-color-darker: hsl(
    var(--yellow-h),
    var(--yellow-l),
    calc(var(--yellow-l) - 25%)
  );
  --yellow-color-darkest: hsl(
    var(--yellow-h),
    var(--yellow-l),
    calc(var(--yellow-l) - 35%)
  );
  --blue-color-darker: hsl(
    var(--blue-h),
    var(--blue-l),
    calc(var(--blue-l) - 30%)
  );
  --blue-color-darkest: hsl(
    var(--blue-h),
    var(--blue-l),
    calc(var(--blue-l) - 35%)
  );
  --pink-color-darker: hsl(
    var(--pink-h),
    var(--pink-l),
    calc(var(--pink-l) - 45%)
  );
  --pink-color-darkest: hsl(
    var(--pink-h),
    var(--pink-l),
    calc(var(--pink-l) - 35%)
  );
  --purple-color-darker: hsl(
    var(--purple-h),
    var(--purple-l),
    calc(var(--purple-l) - 40%)
  );
  --purple-color-darkest: hsl(
    var(--purple-h),
    var(--purple-l),
    calc(var(--purple-l) - 35%)
  );
  --bar-height: 7.5;
  --btn-height: 3.125; }

body {
  font-family: "Classic Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@font-face {
  font-family: "Classic Sans";
  src: url("../assets/fonts/ClassicSansRoman-Italic.otf");
  font-style: italic; }

@font-face {
  font-family: "Classic Sans";
  src: url("../assets/fonts/ClassicSansRoman.otf");
  font-weight: 400; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: "Classic Sans"; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "“" "”" "‘" "’"; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*------------------------------------*\
    breakpoint vars
\*------------------------------------*/
/*------------------------------------*\
    breakpoint mixin
\*------------------------------------*/
/*------------------------------------*\
    breakpoint usage
\*------------------------------------*/
.btn {
  display: inline-block;
  height: calc(var(--btn-height) * 1rem);
  background-color: var(--link-color);
  text-align: center;
  color: var(--jet-color);
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.625rem 3.125rem;
  border-radius: 25px; }
  .btn:hover {
    color: var(--jet-color);
    opacity: 0.7; }
  .btn-outline {
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--link-color); }
    .btn-outline:hover {
      color: var(--link-color); }
  @media only screen and (min-device-width: 20em) and (max-device-width: 30em) {
    .btn {
      font-size: 0.625rem;
      padding: 0.625rem 1.625rem;
      height: calc(var(--btn-height) * 0.7rem); } }

* {
  box-sizing: border-box; }

body {
  color: var(--text-color);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; }

#app {
  width: 100%;
  min-height: inherit; }

a {
  text-decoration: none;
  outline: none;
  color: var(--link-color); }
  a:hover {
    color: var(--link-hover); }

a:hover,
a:focus,
button:focus {
  outline: none; }

.contact-bar {
  height: calc(var(--bar-height) * 1rem);
  background-color: var(--jet-color);
  display: flex;
  align-items: center; }
  .contact-bar .text-bar {
    flex: 8;
    font-size: 1.25rem;
    padding-left: calc(var(--bar-height) * 1.25rem);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase; }
  .contact-bar .btn-bar {
    flex: 4; }
  @media only screen and (min-device-width: 20em) and (max-device-width: 30em) {
    .contact-bar {
      height: auto; }
      .contact-bar .text-bar {
        flex: 1;
        font-size: 0.625rem;
        padding: 1.675rem 0.675rem; }
      .contact-bar .btn-bar {
        flex: 1;
        align-self: flex-end;
        text-align: end;
        padding: 0 0.675rem 1.675rem; } }

.case-study-bar {
  height: calc(var(--bar-height) * 2rem);
  background-color: var(--jet-color);
  display: flex;
  align-items: center; }
  .case-study-bar .text-bar {
    flex: 8;
    font-size: 1.25rem;
    padding-left: calc(var(--bar-height) * 1.25rem);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase; }
  .case-study-bar .btn-bar {
    flex: 4; }
  @media only screen and (min-device-width: 20em) and (max-device-width: 30em) {
    .case-study-bar {
      height: auto; }
      .case-study-bar .text-bar {
        flex: 1;
        font-size: 0.625rem;
        padding: 1.675rem 0.675rem; }
      .case-study-bar .btn-bar {
        flex: 1;
        align-self: flex-end;
        text-align: end;
        padding: 0 0.675rem 1.675rem; } }

.navbar {
  --nav-padding: 1.875rem;
  width: 100%;
  height: 7.5rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: var(--nav-padding);
  position: relative; }
  @media only screen and (min-device-width: 20em) and (max-device-width: 30em) {
    .navbar {
      --nav-padding: 0.675rem; } }
  .navbar:after {
    content: "";
    height: 1px;
    width: calc(100% - var(--nav-padding) * 2);
    position: absolute;
    bottom: 0;
    background-color: var(--border-color); }
  .navbar .brand {
    font-size: 0.625rem;
    letter-spacing: 0.28125rem;
    font-weight: 300; }
    .navbar .brand .name {
      font-size: 1.125rem;
      font-weight: bold;
      letter-spacing: 0.1875rem; }
  .navbar .toggle {
    display: none; }
  .navbar .nav-item {
    order: 1;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    letter-spacing: 0.125rem; }
    .navbar .nav-item .tab {
      padding: 0 3.125rem; }
      .navbar .nav-item .tab:last-child {
        padding-right: 0; }
      .navbar .nav-item .tab.active {
        opacity: 0.5;
        pointer-events: none; }
  @media only screen and (min-device-width: 20em) and (max-device-width: 30em) {
    .navbar {
      height: 5rem; }
      .navbar .nav-item {
        display: none; } }

.footer {
  width: 100%;
  height: calc(var(--bar-height) * 1rem);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 1.85rem;
  position: relative;
  justify-content: space-between; }
  .footer .copyright {
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 300; }
  .footer .links {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    letter-spacing: 0.125rem; }
    .footer .links a {
      padding: 0 3.125rem;
      border-right: 1px solid var(--border-color); }
      .footer .links a:first-child {
        padding-left: 0; }
      .footer .links a:last-child {
        padding-right: 0;
        border: none; }
      .footer .links a.active {
        opacity: 0.5;
        pointer-events: none; }
  .footer .scroll-top {
    width: 1rem;
    height: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../assets/images/scroll-arrow.svg");
    transform: rotate(180deg); }
  @media only screen and (min-device-width: 20em) and (max-device-width: 30em) {
    .footer {
      height: auto;
      flex-direction: column; }
      .footer .copyright,
      .footer .scroll-top {
        display: none; } }
