html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img,
iframe {
  vertical-align: bottom;
  max-width: 100%; }

input,
textarea,
select {
  font: inherit; }

a {
  text-decoration: none;
  outline: none; }

a:hover,
a:focus,
button:focus {
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

:root {
  --green: #4e8b43;
  --red: #cc4a3c;
  --black: #000000;
  --blue: #273d9b;
  --white: #ffffff;
  --backgroud-color: var(--white);
  --primary-text-color: var(--black);
  --border-color: var(--black);
  --bar-height: 7.5;
  --btn-height: 3.125;
  --base-margin: 0.75rem;
  --base-font: 100%; }

@font-face {
  font-family: Classic-Sans;
  src: url(../assets/fonts/ClassicSans-Roman.otf), url(../assets/fonts/ClassicSans-Roman.woff), url(../assets/fonts/ClassicSans-Roman.ttf);
  font-weight: 400; }

@font-face {
  font-family: Classic-Sans;
  src: url(../assets/fonts/ClassicSansMedium.otf);
  font-weight: 500; }

@font-face {
  font-family: Classic-Sans;
  src: url(../assets/fonts/ClassicSansBold.otf);
  font-weight: 600; }

@font-face {
  font-family: Classic-Sans;
  src: url(../assets/fonts/ClassicSansRoman-Italic.otf);
  font-weight: 400;
  font-style: italic; }

/*------------------------------------*\
    breakpoint vars
\*------------------------------------*/
/*------------------------------------*\
    breakpoint mixin
\*------------------------------------*/
/*------------------------------------*\
    breakpoint usage
\*------------------------------------*/
body {
  font-family: Classic-Sans, Arial, Helvetica, sans-serif;
  background-color: var(--backgroud-color);
  color: var(--primary-text-color);
  margin: 0 auto;
  position: relative; }

.desktop {
  display: initial; }

.mobile {
  display: none; }

a {
  color: var(--primary-text-color); }

a:hover {
  color: var(--primary-text-color); }

img {
  width: 100%; }

/* Header Starts Here */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 0 calc(var(--base-margin) * 2);
  height: calc(var(--base-margin) * 3.75); }
  .header .logo {
    width: calc(var(--base-margin) * 5.333);
    margin-right: auto; }
    .header .logo a {
      display: flex;
      align-items: center; }
  .header .marker {
    margin-right: calc(var(--base-margin) * 14);
    display: flex; }
    .header .marker .text {
      font-size: calc(var(--base-font) * 1.167);
      margin-right: calc(var(--base-margin) * 0.5833); }
    .header .marker .color {
      width: calc(var(--base-margin) * 1);
      height: calc(var(--base-margin) * 1);
      margin-right: calc(var(--base-margin) * 0.5833);
      cursor: pointer; }
      .header .marker .color.red {
        background-color: var(--red); }
      .header .marker .color.green {
        background-color: var(--green); }
      .header .marker .color.blue {
        background-color: var(--blue); }
      .header .marker .color.black {
        background-color: var(--black); }
      .header .marker .color.selected {
        position: relative; }
        .header .marker .color.selected:before {
          content: "";
          position: absolute;
          width: 1px;
          height: calc(var(--base-margin) * 1.333);
          background-color: var(--white);
          transform: rotate(45deg);
          top: -2px;
          left: 5px; }
        .header .marker .color.selected:after {
          content: "";
          position: absolute;
          width: 1px;
          height: calc(var(--base-margin) * 1.333);
          background-color: var(--white);
          transform: rotate(-45deg);
          top: -2px;
          left: 6px; }
  .header .republic {
    padding: 0;
    margin-right: calc(var(--base-margin) * 1.333);
    font-size: calc(var(--base-font) * 1.167); }
  .header .get-involved {
    font-size: calc(var(--base-font) * 1.167); }

/* Header Ends Here */
/* Hero Starts Here */
.hero {
  height: calc(100vh - (var(--base-margin) * 3.75));
  display: flex;
  flex-direction: column; }
  .hero-spinner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px; }
    .hero-spinner img {
      width: 33.33%;
      animation-name: spin, depth;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 10s; }
  .hero-description {
    padding: calc(var(--base-margin) * 2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--base-margin) * 2);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color); }
    .hero-description p {
      font-family: "Times New Roman", Times, serif;
      text-align: justify;
      font-size: calc(var(--base-font) * 1.333);
      line-height: 1.25; }

.stamps {
  position: relative;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  cursor: crosshair;
  user-select: none; }
  .stamps .mission {
    position: absolute; }

.product-list .product {
  border-bottom: 1px solid var(--border-color); }
  .product-list .product-title {
    font-size: calc(var(--base-font) * 5.333);
    line-height: 1.09;
    font-weight: normal;
    padding: calc(var(--base-margin) * 2.667) calc(var(--base-margin) * 2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .product-list .product-description {
    display: flex;
    min-height: 55vh; }
  .product-list .product-info {
    flex: 5;
    padding: calc(var(--base-margin) * 3.333) calc(var(--base-margin) * 2);
    border-right: 1px solid rgba(0, 0, 0, 0.2); }
    .product-list .product-info .collab {
      display: flex;
      flex-direction: column;
      margin-bottom: calc(var(--base-margin) * 2.5); }
      .product-list .product-info .collab .role {
        font-size: calc(var(--base-font) * 0.833);
        line-height: 1.2; }
      .product-list .product-info .collab .name {
        font-size: calc(var(--base-font) * 2);
        line-height: 1.23; }
    .product-list .product-info .synopsis {
      position: relative; }
      .product-list .product-info .synopsis p {
        font-family: "Times New Roman", Times, serif;
        text-align: justify;
        font-size: calc(var(--base-font) * 1.333);
        line-height: 1.25; }
      .product-list .product-info .synopsis svg {
        position: absolute;
        bottom: -50%;
        right: 9%; }
  .product-list .product-images {
    flex: 7;
    display: grid;
    grid-template-columns: repeat(6, 1fr); }
    .product-list .product-images .main {
      grid-column: 1 / span 5;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
      .product-list .product-images .main img {
        width: 70%; }
    .product-list .product-images .secondary {
      display: grid;
      grid-template-rows: repeat(4, 25%); }
      .product-list .product-images .secondary .small-image {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
        .product-list .product-images .secondary .small-image:last-child {
          border-bottom: none; }
      .product-list .product-images .secondary img {
        width: 70%; }
        .product-list .product-images .secondary img.vertical {
          max-height: 70%;
          width: auto; }

.subscription {
  padding: calc(var(--base-margin) * 2.667) calc(var(--base-margin) * 2);
  border-bottom: 1px solid var(--border-color); }
  .subscription .label {
    font-size: calc(var(--base-font) * 1.5);
    line-height: 1.333;
    font-weight: normal; }
  .subscription input {
    font-size: calc(var(--base-font) * 5.333);
    line-height: 1.09;
    font-weight: normal;
    opacity: 0.3;
    width: 50%;
    outline: none;
    border: none; }

.brand-info {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border-color);
  padding: calc(var(--base-margin) * 2.333) calc(var(--base-margin) * 2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: calc(var(--base-margin) * 2); }
  .brand-info p {
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    font-size: calc(var(--base-font) * 1.333);
    line-height: 1.25; }
  .brand-info div p:last-child {
    margin-bottom: 0; }

.republic {
  padding: calc(var(--base-margin) * 2.167) calc(var(--base-margin) * 2); }
  .republic h2 {
    font-size: calc(var(--base-font) * 5.333);
    line-height: 1.09;
    font-weight: normal; }
    .republic h2 a:hover {
      border-bottom: 4px solid var(--border-color); }
  .republic .contributors {
    margin-top: calc(var(--base-margin) * 3);
    margin-bottom: calc(var(--base-margin) * 2); }
    .republic .contributors .contributor {
      display: flex;
      flex-direction: row;
      margin-bottom: calc(var(--base-margin) * 1.5);
      font-size: calc(var(--base-font) * 1.167); }
      .republic .contributors .contributor .name {
        width: 20%;
        font-weight: 500; }
      .republic .contributors .contributor .country {
        width: 20%; }
      .republic .contributors .contributor .contact-links {
        display: inline-flex;
        padding: 0;
        font-family: "Times New Roman", Times, serif;
        width: 20%; }

@keyframes spin {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(-360deg); } }

@keyframes depth {
  0% {
    text-shadow: 0 0 var(--black); }
  25% {
    text-shadow: 5px 0 var(--black), 2px 0 var(--black), 3px 0 var(--black), 4px 0 var(--black), 5px 0 var(--black); }
  50% {
    text-shadow: 0 0 var(--black); }
  75% {
    text-shadow: -1px 0 var(--black), -2px 0 var(--black), -3px 0 var(--black), -4px 0 var(--black), -5px 0 var(--black); }
  100% {
    text-shadow: 0 0 var(--black); } }

/* Hero Ends Here */
@media only screen and (max-width: 1440px) {
  :root {
    --base-font: 75%; } }
