body {
  font-family: Classic-Sans, Arial, Helvetica, sans-serif;
  background-color: var(--backgroud-color);
  color: var(--primary-text-color);
  margin: 0 auto;
  position: relative;
}

.desktop {
  display: initial;
}

.mobile {
  display: none;
}

a {
  color: var(--primary-text-color);
}

a:hover {
  color: var(--primary-text-color);
}

img {
  width: 100%;
}

/* Header Starts Here */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 0 calc(var(--base-margin) * 2);
  height: calc(var(--base-margin) * 3.75);

  .logo {
    width: calc(var(--base-margin) * 5.333);
    margin-right: auto;

    a {
      display: flex;
      align-items: center;
    }
  }

  .marker {
    margin-right: calc(var(--base-margin) * 14);
    display: flex;

    .text {
      font-size: calc(var(--base-font) * 1.167);
      margin-right: calc(var(--base-margin) * 0.5833);
    }

    .color {
      width: calc(var(--base-margin) * 1);
      height: calc(var(--base-margin) * 1);
      margin-right: calc(var(--base-margin) * 0.5833);
      cursor: pointer;

      &.red {
        background-color: var(--red);
      }

      &.green {
        background-color: var(--green);
      }

      &.blue {
        background-color: var(--blue);
      }

      &.black {
        background-color: var(--black);
      }

      &.selected {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          width: 1px;
          height: calc(var(--base-margin) * 1.333);
          background-color: var(--white);
          transform: rotate(45deg);
          top: -2px;
          left: 5px;
        }

        &:after {
          content: "";
          position: absolute;
          width: 1px;
          height: calc(var(--base-margin) * 1.333);
          background-color: var(--white);
          transform: rotate(-45deg);
          top: -2px;
          left: 6px;
        }
      }
    }
  }

  .republic {
    padding: 0;
    margin-right: calc(var(--base-margin) * 1.333);
    font-size: calc(var(--base-font) * 1.167);
  }

  .get-involved {
    font-size: calc(var(--base-font) * 1.167);
  }
}

/* Header Ends Here */

/* Hero Starts Here */

.hero {
  height: calc(100vh - (var(--base-margin) * 3.75));
  display: flex;
  flex-direction: column;

  &-spinner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;

    img {
      width: 33.33%;
      animation-name: spin, depth;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-duration: 10s;
    }
  }

  &-description {
    padding: calc(var(--base-margin) * 2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--base-margin) * 2);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    p {
      font-family: "Times New Roman", Times, serif;
      text-align: justify;
      font-size: calc(var(--base-font) * 1.333);
      line-height: 1.25;
    }
  }
}

.stamps {
  position: relative;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  cursor: crosshair;
  user-select: none;

  .mission {
    position: absolute;
  }
}

.product-list {
  .product {
    border-bottom: 1px solid var(--border-color);

    &-title {
      font-size: calc(var(--base-font) * 5.333);
      line-height: 1.09;
      font-weight: normal;
      padding: calc(var(--base-margin) * 2.667) calc(var(--base-margin) * 2);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    &-description {
      display: flex;
      min-height: 55vh;
    }

    &-info {
      flex: 5;
      padding: calc(var(--base-margin) * 3.333) calc(var(--base-margin) * 2);
      border-right: 1px solid rgba(0, 0, 0, 0.2);

      .collab {
        display: flex;
        flex-direction: column;
        margin-bottom: calc(var(--base-margin) * 2.5);

        .role {
          font-size: calc(var(--base-font) * 0.833);
          line-height: 1.2;
        }

        .name {
          font-size: calc(var(--base-font) * 2);
          line-height: 1.23;
        }
      }

      .synopsis {
        position: relative;

        p {
          font-family: "Times New Roman", Times, serif;
          text-align: justify;
          font-size: calc(var(--base-font) * 1.333);
          line-height: 1.25;
        }

        svg {
          position: absolute;
          bottom: -50%;
          right: 9%;
        }
      }
    }

    &-images {
      flex: 7;
      display: grid;
      grid-template-columns: repeat(6, 1fr);

      .main {
        grid-column: 1 / span 5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid rgba(0, 0, 0, 0.2);

        img {
          width: 70%;
        }
      }

      .secondary {
        display: grid;
        grid-template-rows: repeat(4, 25%);

        .small-image {
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);

          &:last-child {
            border-bottom: none;
          }
        }

        img {
          width: 70%;

          &.vertical {
            max-height: 70%;
            width: auto;
          }
        }
      }
    }
  }
}

.subscription {
  padding: calc(var(--base-margin) * 2.667) calc(var(--base-margin) * 2);
  border-bottom: 1px solid var(--border-color);

  .label {
    font-size: calc(var(--base-font) * 1.5);
    line-height: 1.333;
    font-weight: normal;
  }

  input {
    font-size: calc(var(--base-font) * 5.333);
    line-height: 1.09;
    font-weight: normal;
    opacity: 0.3;
    width: 50%;
    outline: none;
    border: none;
  }
}

.brand-info {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border-color);
  padding: calc(var(--base-margin) * 2.333) calc(var(--base-margin) * 2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: calc(var(--base-margin) * 2);

  p {
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    font-size: calc(var(--base-font) * 1.333);
    line-height: 1.25;
  }

  div {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.republic {
  padding: calc(var(--base-margin) * 2.167) calc(var(--base-margin) * 2);

  h2 {
    font-size: calc(var(--base-font) * 5.333);
    line-height: 1.09;
    font-weight: normal;

    a:hover {
      border-bottom: 4px solid var(--border-color);
    }
  }

  .contributors {
    margin-top: calc(var(--base-margin) * 3);
    margin-bottom: calc(var(--base-margin) * 2);

    .contributor {
      display: flex;
      flex-direction: row;
      margin-bottom: calc(var(--base-margin) * 1.5);
      font-size: calc(var(--base-font) * 1.167);

      .name {
        width: 20%;
        font-weight: 500;
      }

      .country {
        width: 20%;
      }

      .contact-links {
        display: inline-flex;
        padding: 0;
        font-family: "Times New Roman", Times, serif;
        width: 20%;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
@keyframes depth {
  0% {
    text-shadow: 0 0 var(--black);
  }
  25% {
    text-shadow: 5px 0 var(--black), 2px 0 var(--black), 3px 0 var(--black),
      4px 0 var(--black), 5px 0 var(--black);
  }
  50% {
    text-shadow: 0 0 var(--black);
  }
  75% {
    text-shadow: -1px 0 var(--black), -2px 0 var(--black), -3px 0 var(--black),
      -4px 0 var(--black), -5px 0 var(--black);
  }
  100% {
    text-shadow: 0 0 var(--black);
  }
}

/* Hero Ends Here */

@media only screen and (max-width: 1440px) {
  :root {
    --base-font: 75%;
  }
}
