.navbar {
  --nav-padding: 1.875rem;
  @include breakpoint(mobile) {
    --nav-padding: 0.675rem;
  }
  width: 100%;
  height: 7.5rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: var(--nav-padding);
  position: relative;

  &:after {
    content: "";
    height: 1px;
    width: calc(100% - var(--nav-padding) * 2);
    position: absolute;
    bottom: 0;
    background-color: var(--border-color);
  }

  .brand {
    font-size: 0.625rem;
    letter-spacing: 0.28125rem;
    font-weight: 300;

    .name {
      font-size: 1.125rem;
      font-weight: bold;
      letter-spacing: 0.1875rem;
    }
  }

  .toggle {
    display: none;
  }

  .nav-item {
    order: 1;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    letter-spacing: 0.125rem;

    .tab {
      padding: 0 3.125rem;

      &:last-child {
        padding-right: 0;
      }

      &.active {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  @include breakpoint(mobile) {
    height: 5rem;
    .nav-item {
      display: none;
    }
  }
}
