:root {
  --green: #4e8b43;
  --red: #cc4a3c;
  --black: #000000;
  --blue: #273d9b;
  --white: #ffffff;

  --backgroud-color: var(--white);

  --primary-text-color: var(--black);

  --border-color: var(--black);

  --bar-height: 7.5;
  --btn-height: 3.125;

  --base-margin: 0.75rem;
  --base-font: 100%;
}
