:root {
  --green: #3a8148;
  --red: #cd4b3d;
  --black: #000000;
  --blue: #274199;
  --oat: #cab393;
  --white: #ffffff;

  --backgroud-color: var(--white);

  --primary-text-color: var(--black);

  --border-color: var(--black);

  --bar-height: 7.5;
  --btn-height: 3.125;

  --base-margin: 0.75rem;
  --base-font: 100%;
}
