.small-grid {
    width: 20%;
    
    padding-left: 14px;
}

.small-grid:first-child {
    padding-left: 0px;
}

.medium-grid {
    width: 40%;
    padding-left: 14px;
}

.heading {
    display: flex;
    padding: 14px;
    font-family: Classic Sans;
    font-size: 18px;
}

.listed-name {
    display: flex;
    padding: 14px;
    cursor: pointer;
}

a.listed-name:hover {
    color: #3C8149;
}

.line {
	position:absolute;
	border-left: 1px solid black;
	top: 48px;
	height: calc(100% - 48px);
}

.first-line {
	left:20.6%;
}

.second-line {
	left: 40.2%;;
}

.third-line {
	    left: 59.7%;

}










