.section1 {
	width: 100vw;
	height: 100vh;
	display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

img {
	width: 350px;
/*	display: flex;
	justify-content: center;
	align-items: center;*/
	position: absolute;

    animation-name: spin;
    animation-duration: 100000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

h1 {
	position: absolute;
	z-index: 2;
	color: #3C8149;
	font-size: 32px;
}

h1:hover {
	scale: 1.1;
}